<section id="pocetna">
    <div class="container-fluid slika">
        <h2>Dobro dosli!</h2>
        <p>Ukoliko zelite najbolje mobilne telefone po najpovoljnijim cenama na pravom ste mestu!</p>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-8 text-center opis">
                <div>
                    <h1>Lorem</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo libero animi facilis nobis inventore ipsum perferendis exercitationem, officia nihil veritatis esse. Doloribus quia autem nam delectus dolorem ab dolores alias?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ipsa.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam similique laudantium porro alias eos cupiditate modi quidem error corrupti possimus?</p> 
                    <button class="btn btn-dark" [routerLink]="['/ponuda']">Ponuda</button> 
                </div>              
            </div>
            <div class="col-md-4">
                <div id="carouselExampleInterval" class="carousel slide carousel-dark" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="2000">
                        <img src="https://cdn2.mobilnisvet.com/J4wRfXMDLtCtLKpvvn7FC91_fbi2CHRPvfYXsMIho2A/sm:1/sh:1/el:0/q:85/wm:0.2:re:0:0:0.5/rs:fill:360:731/czM6Ly9tb2JpbG5pc3ZldGNvbS8yMDIyLzEvMTI3L2Jrc2NsYzh3NWhnYzgwNDd4bHd6LzIvdGYucG5n.webp" class="d-block" alt="Slika nije ucitana">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://cdn2.mobilnisvet.com/duKngX2smouUQqtBfW1PCs2QDvm743tX69dXKCIpwFI/sm:1/sh:1/el:0/q:85/wm:0.2:re:0:0:0.5/rs:fill:360:751/czM6Ly9tb2JpbG5pc3ZldGNvbS8yMDIyLzEvMTI3LzAwOW1yaHJwN2g2OW0wNDVybjV4LzIvdGYucG5n.webp" class="d-block" alt="Slika nije ucitana">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://cdn2.mobilnisvet.com/oQK4IKiyFCK2btj9J2F8YoV8Qxu_zZyXG61BsD-SauM/sm:1/sh:1/el:0/q:85/wm:0.2:re:0:0:0.5/rs:fill:360:779/czM6Ly9tb2JpbG5pc3ZldGNvbS8yMDIxLzEvMTI3L2wwNzEyMDJ4YnZzbnRtNmdmcjQ1LzIvdGYucG5n.webp" class="d-block" alt="Slika nije ucitana">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</section>
